// pages
// blog
.blog-item {
    @include bd-xs-bl {
        span.link {
            display: block;
            width: 100%;
            margin-top: 50px;
            text-align: left;
        }
    }
}

.map-wrapper {
    margin-top: 40px;
    @include bd-md {
        margin-right: -101px;
    }
    img {
        width: 100%;
    }
}

.map-container {
    @include bd-md {
        padding-left: 68px;
    }
    .contact-details {
        p {
            margin-bottom: 5px;
        }
        a {
            font-family: $font-family;
        }
    }
}

.contact-form-wrapper {
    margin-bottom: 75px;
    @include bd-md {
        margin-bottom: 50px;
        padding-right: 68px;
    }
}

section.login {
    .container {
        max-width: 390px;
    }
    header {
        h1 {
            margin-bottom: 30px;
        }
    }
    .body-content {
        p {
            @include calculateRem(20px, $font-size-root);
        }
    }
    form {
        margin-top: 50px;
        margin-bottom: 10px;
        .btn {
            @include bd-xs-bl {
                width: 100%;
            }
        }
    }
    a.link {
        margin-left: 25px;
        @include bd-xs-bl {
            display: block;
            margin-top: 20px;
            margin-left: 0;
            text-align: center;
        }
        &:hover,
        &:focus {
            .icon {
                margin-left: 15px;
                margin-right: 0;
            }
        }
    }
    form.reset-form {
        .button-group {
            text-align: right;
        }
        a.link {
            margin-left: 0;
            @include bd-sm {
                float: left;
                margin-bottom: 0;
            }
            margin-top: 12px;
            .icon {
                margin-left: 0;
            }
            &:hover,
            &:focus {
                .icon {
                    margin-left: -5px;
                    margin-right: 15px;
                }
            }
        }
    }
}

.offers {
    .container {
        padding: 0 30px;
        border-radius: 3px;
        .row {
            padding: 20px 15px;
            border: 2px solid #eeefef;
        }
    }
    h4 {
        margin: 0;
        margin-right: 30px;
    }
    p {
        margin-bottom: 0;
    }
    a.link {
        margin-top: 5px;
        display: inline-block;
        .icon {
            margin-right: 15px;
        }
        &:hover,
        &:focus {
            .icon {
                margin-right: 10px;
                margin-left: 15px;
            }
        }
    }
}

.partner-home {
    &.services-list {
        .box {
            @include bd-sm {
                padding: {
                    top: 20px;
                    left: 30px;
                    right: 30px;
                }
                .content-holder {
                    @include display-flex();
                    @include flex-wrap(wrap);
                    padding: {
                        top: 15px;
                        bottom: 25px;
                        left: 20px;
                    }
                }
            }
        }
    }
    .link-block {
        @include bd-sm {
            text-align: right;
            @include display-flex();
            @include align-items(center);
            @include justify-content(flex-end);
        }
    }
}

// calculator page 
form.form-calculator {
    padding-left: 30px;
    padding-right: 30px;
    .form-wrapper {
        // max-width: 860px;
        @include bd-xl {
            padding-left: 30px;
        }
        @include bd-xxl {
            padding-left: 85px;
        }
        .input-group {
            padding-top: 0;
        }
    }
    aside {
        @include bd-xxl {
            float: right;
            padding-right: 50px;
        }
    }
}

.form-box {
    background: #fff;
    margin-bottom: 40px;
    padding: 20px;
    @include bd-sm {
        padding: 55px;
    }
    padding-bottom: 20px;
    border-radius: 3px;
    .control-label {
        line-height: 45px;
        font-family: $font-family-secondary;
        @include calculateRem(17px, $font-size-root);
    }
    .control-label.col-md-3 {
        @include bd-sm-bl {
            padding-left: 25px;
        }
    }
    .input-group {
        input {
            height: 45px;
        }
    }
    textarea {
        width: 100%;
    }
}

.case-item {
    figure {
        height: 100%;
        background-size: cover;
    }
    &:nth-child(even) {
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    a.image-gallery {
        &:hover,
        &:focus {
            outline: 0;
        }
        i {
            display: inline-block;
            margin-right: 15px;
        }
        img {
            max-width: 28px;
        }
        color: #fff;
        position: absolute;
        background: rgba(42, 55, 55, 0.9);
        padding: 25px;
        bottom: 0;
        left: 0;
        z-index: 9;
    }
}

div#data-table_wrapper .row:first-child {
    max-width: 1200px;
    margin: 0 auto;
}

.quotes-page .row:nth-child(2) .col-sm-12 {
    padding: 0;
}

.quotes-page {
    div.dataTables_wrapper {
        padding-left: 0px;
        padding-right: 0px;
    }
    td.price{
        text-align: right;
    }
}
section.login a.link{
    margin-left:0px;
}
.btn-class{
    float:right;
    margin-top: -26px;
}
.login{
.button-group{
    padding-top: 10px;
}
a.link{
    display: block;
}
}
.button-group{
    a.link{
        float: left;
        padding-top: 10px;
    }
    .btn{
        float: right;
    }
}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    content: '-';
    background-color: #7bbe72 !important;
}
@include bd-sm-bl {
    table.dataTable>tbody>tr.child span.dtr-title {
    width: 100%;
}
}
@include bd-md-bl {
   .offers{
    .col-md-6.text-right{
        text-align:left;
    }
   } 
}
@include bd-sm{
    .offers{
        .col-md-6{
            float: left;
        }
    }
}
@include bd-custom-max(321px) {
    .form-control{
        font-size: 14px !important;
    }
}
@include bd-custom-min(767px) {
.dropdown-menu{
    left: auto;
    right: 0;
}
}